* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
/*navigation start*/
a.navbar-brand img {
    width: 180px;
}
button#dropdownMenuButton1 {
    font-size: 34px;
}
button.btn.btn-primary.checkbtn {
    font-size: 24px;
    font-weight: 600;
    border: none;
    padding: 0px 8px;
    width: 293px;
    border-radius: 20px 0px;
    margin-right: 22px;
    background-image: linear-gradient(to right, #1e75bb, #27a8e0cf);
    height: 50px;
    margin-top: 7px;
    transition: 0.4s;
}
button.btn.btn-primary.checkbtn:hover {
    background-image: linear-gradient(to right, #27a8e0cf, #1e75bb);
}
nav.navbar.navbar-light.mainnav {
    box-shadow: 0px 4px 9px #c0d9ec;
    background: white;
}
.dropdown-menu[data-bs-popper] {
    top: 114%;
    left: -150px;
    margin-top: 0.125rem;
}
a.dropdown-item {
    text-align: center;
    font-weight: 600;
    padding-top: 13px;
}

/*navigation end*/

/*banner area start*/
section.bannerarea {
    background-image: url(../image/bg.jpg);
    width: 100%;
    height: 610px;
    background-repeat: no-repeat;
    background-size: cover;
}
.headingtxt {
    text-align: center;
    color: white;
}

.headingtxt h1 {
    font-weight: 600;
    font-size: 42px;
    padding-top: 110px;
    padding-bottom: 55px;
}
.headingtxt h1 span {
    color: black;
}
.headingtxt p {
    color: black;
    font-size: 23px;
    line-height: 44px;
    font-weight: 600;
}
.headingtxt p i {
    color: white;
}
button.secondcheckbtn {
    font-size: 24px;
    font-weight: 600;
    border: none;
    padding: 0px 8px;
    width: 293px;
    border-radius: 20px 0px;
    height: 50px;
    transition: 0.4s;
    background: white;
    margin-top: 42px;
    color: #1e75bb;
}
button.secondcheckbtn:hover {
    background: black;
    color: white;
}
/*banner area end*/

/*aboutsection start*/
.txtbox {
    width: 718px;
    background: #27a8e0;
    color: white;
    border-radius: 20px 0px;
    position: relative;
    z-index: 20;
    box-shadow: 0px 0px 7px #1e75bb;
}
.txtbox p {
    color: white;
    font-weight: 600;
    padding-left: 53px;
    padding-top: 40px;
    padding-bottom: 39px;
    line-height: 27px;
}
.txtbox p span {
    color: black;
}
.imgbox {
    float: right;
    margin-top: -440px;
    z-index: 2;
}

.imgbox img {
    z-index: 6;
}
section.about {
    padding-top: 128px;
    padding-bottom: 130px;
}

/*about section end*/

/*four coin section start*/
section.fourcoin {
    background: #f9eeee;
}
.coinbox {
    text-align: center;
    padding-top: 58px;
    padding-bottom: 58px;
}

.coinbox p {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
}
.col-xs-12.col-sm-6.col-md-3.coinno2 {
    background: #27a8e0;
    color: white;
}
.col-xs-12.col-sm-6.col-md-3.coinno3 {
    background: #1e75bb;
    color: white;
}

/*four coin end*/

/*peace section start*/
.peaceheading {
    font-size: 31px;
    color: #1e75bb;
    text-align: center;
}

.peaceheading h2 {
    font-weight: 600;
}
section.peacesection {
    padding-top: 130px;
}
.peacebox {
    text-align: center;
    box-shadow: 0px 0px 10px #c0d9ec;
    margin-top: 50px;
}

.peacebox img {
    margin-top: -21px;
    padding-bottom: 14px;
}

.peacebox p {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 25px;
}
.row.peacerow {
    margin-top: 50px;
}
button.checkbtn {
    font-size: 24px;
    font-weight: 600;
    border: none;
    padding: 0px 8px;
    width: 293px;
    border-radius: 20px 0px;
    background-image: linear-gradient(to right, #1e75bb, #27a8e0cf);
    height: 50px;
    transition: 0.4s;
    color: white;
}
button.checkbtn:hover {
    background-image: linear-gradient(to right, #27a8e0cf, #1e75bb);
}
.peacebtn {
    text-align: center;
    padding-top: 30px;
}
button#peacecheck {
    margin-bottom: 50px;
}

/*peace section end*/

/*example section start*/
.exampleheading h1 {
    text-align: center;
    font-size: 33px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #1e75bb;
    padding-top: 60px;
    padding-bottom: 60px;
}
section.examplesec {
    background: #f9eeee;
}
.exampletxt h1 {
    font-size: 33px;
    font-weight: 600;
    color: white;
    padding-top: 45px;
    text-align: center;
}

.exampletxt {
}
.exmlebox p {
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 600;
    padding-left: 65px;
    color: white;
    line-height: 55px;
}
.exmlebox p span {
    color: black;
    font-weight: 800;
}
.row.exmrow {
    background: #1e75bb;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 10px #c0d9ec;
    padding-bottom: 30px;
}
.exmlebox {
    padding-top: 50px;
}
.imgheading h2 {
    color: #1e75bb;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.imgheading span {
    color: black;
}
.exmimgbox1 h2 {
    font-size: 38px;
    font-weight: 600;
    color: #1e75bb;
    line-height: 60px;
}

.exmimgbox1 h2 span {
    color: black;
}
.exmimgbox1 p {
    color: #1e75bb;
}
.row.exrow2 {
    padding-left: 30px;
    padding-right: 30px;
}
.exmimgbox1.blackimgbox {
    text-align: right;
}
.lastp {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

/*example section end*/

/*type section start*/
.typeheading h1 {
    font-size: 38px;
    font-weight: 600;
    color: #1e75bb;
    padding-top: 78px;
    padding-bottom: 60px;
    text-align: center;
}
.typebox {
    box-shadow: 0px 0px 12px #c0d9ec;
    border-radius: 10px;
    background-color: #27a8e0;
    color: white;
    text-align: center;
    margin: 38px 20px;
}

.typebox p {
    font-size: 27px;
    font-weight: 500;
    padding-bottom: 30px;
}

.typebox img {
    margin-top: -40px;
    padding-bottom: 11px;
}
.typebtn {
    text-align: center;
    padding-bottom: 40px;
}

/*type section end*/
/*textsection start*/
.textfootbox p {
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 50px;
}
/*textsection end*/
/*footer start*/
section.footer {
    background-color: #1e75bb;
    color: white;
    padding-top: 50px;
    padding-bottom: 26px;
}
.footerbox a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: bold;
    transition: 0.4s;
}
.footerbox a:hover {
    color: black;
}
.footerboxbutton button {
    border: none;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border-radius: 20px 0px 20px 0px;
    background-image: linear-gradient(to right, #ffffff, #27a8e0cf);
    padding: 5px 5px;
    transition: 0.4s;
}
.footerboxbutton button:hover {
    background: #27a8e0cf;
    color: white;
}
/*footer end*/
